<html>
    <head>
        <title>Suggested Causes</title>
    </head>
    <body>
        <h2>Causes That Have Been Suggested:</h2>

        <% if( Array.isArray(suggestedcauses) ) { %>
        <ul class = "newCauseList">
            <% suggestedcauses.forEach(suggcause => {%> 
                <b>
                <li>Organization: <%= suggcause.organization %><br>
                    Website: <%= suggcause.website %> <br>
                    Cause: <%= suggcause.cause %><br>
                    Year Founded: <%= suggcause.founded %><br>
                    Location: <%= suggcause.location %><br>
                    Additional Info: <%= suggcause.info %><br>
                    <a href='/allsuggestedcauses/<%-suggcause.id%>'>View this Cause</a></li><br>
                </b>
                <% })} else { %>
                <b>
                Organization: <%= suggcause.organization %>
                Wesbite: <%= suggcause.website %>
                Cause: <%= suggcause.cause %>
                Year Founded: <%= suggcause.founded %>
                Location: <%= suggcause.location %>
                Additional Info: <%= suggcause.info %>
                </b>
            <% }; %>
            <!-- </ul> -->
            
            <a href="/allsuggestedcauses/new" class="newCauseButton">Suggest a New Cause</a>
            </br>
            <a href="/">Back</a>
    </body>
</html>




